$color-white: #ffffff;
$color-light-gray: #F2F2F2;
$color-gray: #F4F4F4;
$color-smoke: #DBDBDB;
$color-dark-smoke: #797F82;
$color-light-green: #98CA02;
$color-dark-gray: #384045;
$color-red: #FF4141;

$font-museo-sans: "MuseoSans";